
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTaskHistoryLabel" data-translate="tasklistApp.taskHistory.home.createOrEditLabel">Create or edit a Task History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.taskHistory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.taskHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tasklistApp.taskHistory.updateDate" for="field_updateDate">Update Date</label>
                <div class="input-group">
                    <input id="field_updateDate" type="text" class="form-control" name="updateDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.taskHistory.updateDate" is-open="vm.datePickerOpenStatus.updateDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updateDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tasklistApp.taskHistory.conclusionDate" for="field_conclusionDate">Conclusion Date</label>
                <div class="input-group">
                    <input id="field_conclusionDate" type="text" class="form-control" name="conclusionDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.taskHistory.conclusionDate" is-open="vm.datePickerOpenStatus.conclusionDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('conclusionDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tasklistApp.taskHistory.exclusionDate" for="field_exclusionDate">Exclusion Date</label>
                <div class="input-group">
                    <input id="field_exclusionDate" type="text" class="form-control" name="exclusionDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.taskHistory.exclusionDate" is-open="vm.datePickerOpenStatus.exclusionDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('exclusionDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tasklistApp.taskHistory.creationDate" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.taskHistory.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tasklistApp.taskHistory.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.taskHistory.status" id="field_status">
                <option value="Aberto" data-translate="tasklistApp.Status.Aberto">Aberto</option>
                <option value="Processando" data-translate="tasklistApp.Status.Processando">Processando</option>
                <option value="Cancelado" data-translate="tasklistApp.Status.Cancelado">Cancelado</option>
                <option value="Fechado" data-translate="tasklistApp.Status.Fechado">Fechado</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="tasklistApp.taskHistory.tasklist" for="field_tasklist">Tasklist</label>
            <select class="form-control" id="field_tasklist" name="tasklist" ng-model="vm.taskHistory.tasklist" ng-options="tasklist as tasklist.id for tasklist in vm.tasklists track by tasklist.id" required>
            </select>
        </div>
        <div ng-show="editForm.tasklist.$invalid">
            <p class="help-block"
                ng-show="editForm.tasklist.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="tasklistApp.taskHistory.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.taskHistory.user" ng-options="user as user.login for user in vm.users track by user.id" required>
            </select>
        </div>
        <div ng-show="editForm.user.$invalid">
            <p class="help-block"
                ng-show="editForm.user.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
