
<div>
    <h2><span data-translate="tasklistApp.taskHistory.detail.title">Task History</span> {{vm.taskHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="tasklistApp.taskHistory.updateDate">Update Date</span></dt>
        <dd>
            <span>{{vm.taskHistory.updateDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="tasklistApp.taskHistory.conclusionDate">Conclusion Date</span></dt>
        <dd>
            <span>{{vm.taskHistory.conclusionDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="tasklistApp.taskHistory.exclusionDate">Exclusion Date</span></dt>
        <dd>
            <span>{{vm.taskHistory.exclusionDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="tasklistApp.taskHistory.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.taskHistory.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="tasklistApp.taskHistory.status">Status</span></dt>
        <dd>
            <span data-translate="{{'tasklistApp.Status.' + vm.taskHistory.status}}">{{vm.taskHistory.status}}</span>
        </dd>
        <dt><span data-translate="tasklistApp.taskHistory.tasklist">Tasklist</span></dt>
        <dd>
            <a ui-sref="tasklist-detail({id:vm.taskHistory.tasklist.id})">{{vm.taskHistory.tasklist.id}}</a>
        </dd>
        <dt><span data-translate="tasklistApp.taskHistory.user">User</span></dt>
        <dd>
            {{vm.taskHistory.user.login}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="task-history-detail.edit({id:vm.taskHistory.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
