<div>
    <h2 data-translate="tasklistApp.taskHistory.home.title">Task Histories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="task-history.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="tasklistApp.taskHistory.home.createLabel">
                        Create new Task History
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updateDate"><span data-translate="tasklistApp.taskHistory.updateDate">Update Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="conclusionDate"><span data-translate="tasklistApp.taskHistory.conclusionDate">Conclusion Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="exclusionDate"><span data-translate="tasklistApp.taskHistory.exclusionDate">Exclusion Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creationDate"><span data-translate="tasklistApp.taskHistory.creationDate">Creation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="tasklistApp.taskHistory.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tasklist.id"><span data-translate="tasklistApp.taskHistory.tasklist">Tasklist</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span data-translate="tasklistApp.taskHistory.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="taskHistory in vm.taskHistories track by taskHistory.id">
                    <td><a ui-sref="task-history-detail({id:taskHistory.id})">{{taskHistory.id}}</a></td>
                        <td>{{taskHistory.updateDate | date:'mediumDate'}}</td>
                        <td>{{taskHistory.conclusionDate | date:'mediumDate'}}</td>
                        <td>{{taskHistory.exclusionDate | date:'mediumDate'}}</td>
                        <td>{{taskHistory.creationDate | date:'mediumDate'}}</td>
                    <td data-translate="{{'tasklistApp.Status.' + taskHistory.status}}">{{taskHistory.status}}</td>
                    <td>
                        <a ui-sref="tasklist-detail({id:taskHistory.tasklist.id})">{{taskHistory.tasklist.id}}</a>
                    </td>
                    <td>
                        {{taskHistory.user.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="task-history-detail({id:taskHistory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="task-history.edit({id:taskHistory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="task-history.delete({id:taskHistory.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
