
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStatusLabel" data-translate="tasklistApp.status.home.createOrEditLabel">Create or edit a Status</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.status.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.status.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="tasklistApp.status.name" for="field_name">Name</label>
            <select class="form-control" name="name" ng-model="vm.status.name" id="field_name">
                <option value="Aberto" data-translate="tasklistApp.Situation.Aberto">Aberto</option>
                <option value="Emandamento" data-translate="tasklistApp.Situation.Emandamento">Emandamento</option>
                <option value="Fechado" data-translate="tasklistApp.Situation.Fechado">Fechado</option>
                <option value="Cancelado" data-translate="tasklistApp.Situation.Cancelado">Cancelado</option>
                <option value="Rejeitado" data-translate="tasklistApp.Situation.Rejeitado">Rejeitado</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
