
<div>
    <h2><span data-translate="tasklistApp.tasklist.detail.title">Tasklist</span> {{vm.tasklist.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="tasklistApp.tasklist.title">Title</span></dt>
        <dd>
            <span>{{vm.tasklist.title}}</span>
        </dd>
        <dt><span data-translate="tasklistApp.tasklist.description">Description</span></dt>
        <dd>
            <span>{{vm.tasklist.description}}</span>
        </dd>
        <dt><span data-translate="tasklistApp.tasklist.status">Status</span></dt>
        <dd>
            <span data-translate="{{'tasklistApp.Status.' + vm.tasklist.status}}">{{vm.tasklist.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="tasklist-detail.edit({id:vm.tasklist.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
